# Ambiente Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Dados sensíveis
data_clients/
*.json

# Documentação interna (vendas e pitch)
GUIA_VENDAS_PITCH.md
ESPACO_DE_CRESCIMENTO.md

#pdf
gerar_ebook.py

*.pdf
Teste 1.xlsx
